<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated basicfamily -->
      <package
            uri="http://www.example.org/basicfamily"
            class="org.eclipse.sirius.sample.basicfamily.BasicfamilyPackage"
            genModel="model/basicfamily.genmodel"/>
   </extension>

</plugin>
