<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated simpleWebsite -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="simpleWebsite.presentation.SimpleWebsiteModelWizardID"
            name="%_UI_SimpleWebsiteModelWizard_label"
            class="simpleWebsite.presentation.SimpleWebsiteModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SimpleWebsiteModelFile.gif">
         <description>%_UI_SimpleWebsiteModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated simpleWebsite -->
      <editor
            id="simpleWebsite.presentation.SimpleWebsiteEditorID"
            name="%_UI_SimpleWebsiteEditor_label"
            icon="icons/full/obj16/SimpleWebsiteModelFile.gif"
            extensions="simplewebsite"
            class="simpleWebsite.presentation.SimpleWebsiteEditor"
            contributorClass="simpleWebsite.presentation.SimpleWebsiteActionBarContributor">
      </editor>
   </extension>

</plugin>
