<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated simpleWebsite -->
      <package
            uri="http://www.example.org/simpleWebsite"
            class="simpleWebsite.SimpleWebsitePackage"
            genModel="model/simpleWebsite.genmodel"/>
   </extension>

</plugin>
